proxyListeningPort: 80
proxyHosts:
  # Immich example via docker-compose
  - domain: immich.richamillion.com
    displayName: the Immich Stack
    proxyHost: 192.168.1.10
    proxyPort: 2283
    timeoutSeconds: 3600
    stopOnTimeoutIfCpuUsageBelow: 50
    proxyUseCustomMethod: GET
    startCommand: "docker compose -f /app/immich/docker-compose.yml -p immich up -d"
    stopCommand: "docker compose -f /app/immich/docker-compose.yml -p immich down"
  # Calibre  
  - domain: calibre.richamillion.com
    containerName: calibre
    displayName: my library
    proxyHost: 192.168.1.11
    proxyPort: 8081
    timeoutSeconds: 3600
    stopOnTimeoutIfCpuUsageBelow: 50
    proxyUseCustomMethod: GET
